{% extends "base.html" %}


{% block title %} Secret Page {% endblock %}

{% block content %}
<h1>{{user.username}} Details</h1>
<div>
    Name = {{user.first_name}} {{user.last_name}}
</div>
<div>
    Account = {{user.username}}
</div>
<div>    
    Email = {{user.email}}
</div>
<ul>
    {% for note in user.notes %}
    <li>
        <a href="/notes/{{note.id}}/update">Edit Note</a>
        <a href="/notes/{{note.id}}/delete">Delete Note</a>
        {{note.title}} {{note.content}}
    </li>
    {% endfor %}
</ul>
<a href="/users/{{user.username}}/notes/add" class="btn btn-primary">Add Note</a>
<a href="/users/{{user.username}}/delete" class="btn btn-primary">Delete User</a>
{% endblock %}
